@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello world<div class="tenor-gif-embed" data-postid="24473146" data-share-method="host" data-aspect-ratio="0.5625" data-width="100%"><a href="https://tenor.com/view/nice-day-good-morning-great-gif-24473146">Nice Day GIF</a>from <a href="https://tenor.com/search/nice-gifs">Nice GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
